.cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  grid-gap: 16px;
}

.cards > ul > li {
  flex: 1;
  background-color: var(--background-color);
}

.cards .cards-card-body {
  margin: 16px 0;
}

.cards .cards-card-image {
  line-height: 0;
}

.cards .cards-card-body > *:first-child {
  margin-top: 0;
}

.cards > ul > li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
  border-radius: 4px;
}

.cards > ul > li p {
  font-size: 16px;
}

.cards > ul > li h3 {
  font-size: 20px;
  font-weight: 600;
  line-height: 26px;
}